@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
body, html, body #root, body #root .App, body #root .App .wrapper, html #root, html #root .App, html #root .App .wrapper {
  width: 100%;
  height: 100%;
  min-height: fit-content; }

body, html {
  color: #000;
  background-color: rgba(80, 21, 178, 0.05); }
  body *, html * {
    font-family: 'Open Sans', Roboto, sans-serif !important; }
  body *.shadowed, html *.shadowed {
    box-shadow: rgba(0, 0, 0, 0.098) 0px 4px 14px; }
  body .valign, html .valign {
    width: 100%; }

.navbar-fixed {
  height: 60px; }
  .navbar-fixed nav {
    padding: 0 30px;
    height: 60px; }
    .navbar-fixed nav .nav-wrapper {
      height: 100%;
      width: 100%; }
      .navbar-fixed nav .nav-wrapper ul {
        height: 100%; }
        .navbar-fixed nav .nav-wrapper ul li {
          background-color: transparent !important;
          height: 100%;
          line-height: 60px;
          padding: 0 5px; }
          .navbar-fixed nav .nav-wrapper ul li a {
            display: inline-block;
            height: 25px;
            width: fit-content;
            padding: 0 15px;
            line-height: 23px;
            border: 1px solid #5015b2;
            color: #5015b2;
            border-radius: 5px;
            background-color: transparent;
            transition: all .5s;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 300;
            font-size: 13px; }
            .navbar-fixed nav .nav-wrapper ul li a:hover {
              background-color: #5015b2;
              color: #fff; }
            .navbar-fixed nav .nav-wrapper ul li a.signup {
              border-color: #ff0e3b;
              color: #ff0e3b; }
              .navbar-fixed nav .nav-wrapper ul li a.signup:hover {
                background-color: #ff0e3b;
                color: #fff; }

.aside .content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px; }
  .aside .content:first-child {
    margin-bottom: 20px; }

.add-report > .valign-wrapper {
  width: 100%;
  height: calc(100% - 60px);
  min-height: fit-content;
  padding: 30px; }
  .add-report > .valign-wrapper .add-report-form {
    width: 75%;
    border-radius: 5px;
    padding: 50px;
    background-color: #fff;
    margin: 0 auto; }
    @media screen and (max-width: 992px) {
      .add-report > .valign-wrapper .add-report-form {
        width: 90%; } }
    @media screen and (max-width: 600px) {
      .add-report > .valign-wrapper .add-report-form {
        width: 100%;
        padding: 30px; } }
    .add-report > .valign-wrapper .add-report-form h4 {
      margin-top: 0; }
    .add-report > .valign-wrapper .add-report-form .row {
      margin: 0; }
      .add-report > .valign-wrapper .add-report-form .row .input-container {
        margin: 5px 0;
        padding: 0; }
        .add-report > .valign-wrapper .add-report-form .row .input-container label:not(.checkbox-label) {
          font-size: 15px;
          color: #000; }
        .add-report > .valign-wrapper .add-report-form .row .input-container input:not([type=checkbox]), .add-report > .valign-wrapper .add-report-form .row .input-container .reports .col .search .filter select:not([type=checkbox]), .reports .col .search .filter .add-report > .valign-wrapper .add-report-form .row .input-container select:not([type=checkbox]), .add-report > .valign-wrapper .add-report-form .row .input-container select, .add-report > .valign-wrapper .add-report-form .row .input-container textarea {
          border: 1px solid #666 !important;
          border-radius: 3px;
          outline: none;
          box-shadow: none !important;
          padding: 0 10px;
          margin: 10px 0;
          width: 100%;
          box-sizing: border-box; }
          .add-report > .valign-wrapper .add-report-form .row .input-container input:not([type=checkbox]).placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container .reports .col .search .filter select:not([type=checkbox]).placeholder, .reports .col .search .filter .add-report > .valign-wrapper .add-report-form .row .input-container select:not([type=checkbox]).placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container select.placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container textarea.placeholder {
            color: #666; }
          .add-report > .valign-wrapper .add-report-form .row .input-container input:not([type=checkbox]):-moz-placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container .reports .col .search .filter select:not([type=checkbox]):-moz-placeholder, .reports .col .search .filter .add-report > .valign-wrapper .add-report-form .row .input-container select:not([type=checkbox]):-moz-placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container select:-moz-placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container textarea:-moz-placeholder {
            color: #666; }
          .add-report > .valign-wrapper .add-report-form .row .input-container input:not([type=checkbox])::-webkit-input-placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container .reports .col .search .filter select:not([type=checkbox])::-webkit-input-placeholder, .reports .col .search .filter .add-report > .valign-wrapper .add-report-form .row .input-container select:not([type=checkbox])::-webkit-input-placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container select::-webkit-input-placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container textarea::-webkit-input-placeholder {
            color: #666; }
          .add-report > .valign-wrapper .add-report-form .row .input-container input:not([type=checkbox]):-ms-input-placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container .reports .col .search .filter select:not([type=checkbox]):-ms-input-placeholder, .reports .col .search .filter .add-report > .valign-wrapper .add-report-form .row .input-container select:not([type=checkbox]):-ms-input-placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container select:-ms-input-placeholder, .add-report > .valign-wrapper .add-report-form .row .input-container textarea:-ms-input-placeholder {
            color: #666; }
        .add-report > .valign-wrapper .add-report-form .row .input-container textarea {
          min-height: 100px;
          padding: 10px;
          resize: none; }
        .add-report > .valign-wrapper .add-report-form .row .input-container button {
          background-color: #5015b2; }

.reports {
  margin: 0;
  padding: 30px; }
  .reports .col .empty {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; }
  .reports .col .back {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px; }
    .reports .col .back a {
      color: #000; }
  .reports .col .search {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
    .reports .col .search input, .reports .col .search .filter select {
      border: none !important;
      border-radius: 3px;
      outline: none;
      box-shadow: none !important;
      padding: 0 10px;
      margin: 0;
      width: 45%;
      box-sizing: border-box;
      background-color: #fff; }
      .reports .col .search input.placeholder, .reports .col .search .filter select.placeholder {
        color: #666; }
      .reports .col .search input:-moz-placeholder, .reports .col .search .filter select:-moz-placeholder {
        color: #666; }
      .reports .col .search input::-webkit-input-placeholder, .reports .col .search .filter select::-webkit-input-placeholder {
        color: #666; }
      .reports .col .search input:-ms-input-placeholder, .reports .col .search .filter select:-ms-input-placeholder {
        color: #666; }
    .reports .col .search .filter {
      width: 45%;
      padding-left: 10px; }
      .reports .col .search .filter select {
        width: 100%;
        display: inline-block;
        margin-top: 10px; }
    .reports .col .search .clear {
      padding-left: 10px;
      width: 10%; }
      .reports .col .search .clear .btn {
        height: 3rem;
        background-color: #5015b2; }
  .reports .col .report {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all .5s;
    display: block;
    color: #000; }
    .reports .col .report:hover {
      box-shadow: rgba(0, 0, 0, 0.098) 0px 16px 26px !important; }
    .reports .col .report h4 {
      margin-top: 0;
      font-weight: 300; }
    .reports .col .report .tags {
      padding: 10px 0; }
      .reports .col .report .tags .tag {
        margin-right: 10px;
        background-color: rgba(80, 21, 178, 0.5);
        border-radius: 100vh;
        padding: 5px 10px;
        color: #fff; }
    .reports .col .report .description {
      padding-top: 10px; }
      .reports .col .report .description p {
        margin: 0; }

/*# sourceMappingURL=style.css.map */
