.navbar-fixed {
  height: 60px;

  nav {
    padding: 0 30px;
    height: 60px;

    .nav-wrapper {
      height: 100%;
      width: 100%;

      ul {
        height: 100%;

        li {
          background-color: transparent !important;
          height: 100%;
          line-height: 60px;
          padding: 0 5px;

          a, button {
            display: inline-block;
            height: 25px;
            width: fit-content;
            padding: 0 15px;
            line-height: 23px;
            border: 1px solid $accent2;
            color: $accent2;
            border-radius: 5px;
            background-color: transparent;
            transition: all .5s;
            text-transform: uppercase;
            letter-spacing: 3px;
            font: {
              weight: 300;
              size: 13px;
            }

            &:hover {
              background-color: $accent2;
              color: #fff
            }

            &.signup {
              border-color: $accent1;
              color: $accent1;

              &:hover {
                background-color: $accent1;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
