nav {
	@extend %padding;

	* {
		color: #000 !important;
	}

	.sidenav {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 0 20px;

		li {
			width: 100%;
			text-align: left !important;
		}

		* {
			color: #000 !important;
			text-align: left;
		}
	}

	.nav-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		a.logo-container {
			flex: .2;
		}

		ul {
			flex: .2;

			&.main-nav {
				flex: .6;
				align-items: center;
				display: flex;
				justify-content: center;
			}

			li {
				background: transparent !important;
				text-align: center;
				padding: 0 15px;

				a {
					background: transparent !important;
					display: inline;
					// height: fit-content;
					padding: 0;
					text-align: center;

					&.signup {
						color: #fff !important;
						background-color: $blue !important;
						padding: 5px 10px;
						border-radius: 3px;
					}

					&.active {
						color: $blue !important;
					}
				}
			}
		}
	}

	&.home-nav {
		box-shadow: none;
		background-color: transparent !important;

		* {
			color: #fff !important;
		}

		.sidenav {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			padding: 0 20px;

			li {
				width: 100%;
			}

			* {
				color: #000 !important;
				text-align: left;
			}
		}

		ul li a.signup {
			color: $grey !important;
			background-color: #fff !important;
		}
	}
}
